<a href="https://colab.research.google.com/github/Mikop22/CFK/blob/main/Unti1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

 -- Fetch all restaurants
 SELECT * FROM restaurants;

 -- Add the restaurant address
 INSERT INTO addresses (
     id,
     street1,
     street2,
     city,
     state,
     zip,
     country
 )
 VALUES (
     uuid(),
     "33 King Street North",
     null,
     "Waterloo",
     "Ontario",
     "N2J 2W6",
     "Canada"
 );

 -- Get the UUID of the address that was just added
 SELECT * FROM addresses;

 -- address_id: e8afe921-03e4-425c-98cb-f7c3f8750304
 SELECT * FROM restaurants;

 -- When adding new restaurants, leave the logoUri, backgroundPhotoUri, and musicUri as empty string
 -- Ever since background music randomization is implemented, you can leave the musicUri as empty string and it'll still work
 -- Make sure to use the address_id created above and add it to the address_id of the restaurant INSERT statement
 INSERT INTO restaurants (
     id,
     name,
     description,
     logoUri,
     backgroundPhotoUri,
     musicUri,
     address_id
 )
 VALUES (
     uuid(),
     "Kinton Ramen (Waterloo)",
     "From rich pork to bold beef, light chicken, and vegetarian options, KINTON RAMEN offers a wide variety. We're sure you'll find your bowl of ramen!",
     "",
     "",
     "",
     "e8afe921-03e4-425c-98cb-f7c3f8750304"
 );

 -- GET the UUID of the restuarant that was just added
 SELECT * FROM restaurants;

 -- restaurant_id: be24b48a-9ec2-43e9-87aa-48e5419920e0
 -- Subsection is something like "Ramen", "Sides", "Desserts"
 SELECT * FROM sub_sections;

 -- Make sure to use the restaurant_id created above and add it to the restaurant_id of the sub_sections INSERT statement
 INSERT INTO sub_sections (
     id,
     name,
     restaurant_id
 )
 VALUES (
     uuid(),
     "Ramen",
     "be24b48a-9ec2-43e9-87aa-48e5419920e0"
 );

 -- subsection_id: 1450c80b-cb84-4806-a065-fc33704ddc58
 SELECT * FROM sub_sections;

 -- use the restaurant_id and subSection_id created from above
 -- the price is in cents so make sure to multiply 100 for every price you see on order pages
 -- ingredients is in JSON so make sure quote is opened and closed properly (otherwise you'll see an error)
 -- for nutritionalFacts only change the "value"
 -- you can keep the thumbnailUrl, videoUrl as empty string initially but updated the values later (up to you)
 INSERT INTO menus (
     id,
     name,
     price,
     description,
     ingredients,
     nutritionalFacts,
     thumbnailUrl,
     videoUrl,
     likeCount,
     estimatedMinute,
     discount,
     subSection_id,
     restaurant_id
 )
 VALUES (
     uuid(),
     "Beef Spicy Garlic Ramen",
     '{ "value": 1899, "currency": "CAD" }',
     "Beef spicy garlic ramen.",
     '["chili pepper", "beef", "bamboo shoots", "wood ear mushrooms", "grated garlic", "scallions"]',
     '[{"name": "Calories", "amount": {"unit": "kcal", "value": 746}}, {"name": "Fat", "amount": {"unit": "g", "value": 0}}, {"name": "Fiber", "amount": {"unit": "g", "value": 0}}, {"name": "Protein", "amount": {"unit": "g", "value": 0}}, {"name": "Carbs", "amount": {"unit": "g", "value": 0}}]',
     "https://d1inbgoespaevw.cloudfront.net/menus/thumbnails/beef-spicy-garlic-ramen.0000001.jpg",
     "https://d1inbgoespaevw.cloudfront.net/menus/videos/beef-spicy-garlic-ramen.m3u8",
     0,
     15,
     null,
     "1450c80b-cb84-4806-a065-fc33704ddc58",
     "be24b48a-9ec2-43e9-87aa-48e5419920e0"
 );

 -- GET the UUID of the menu that was just added
 SELECT * FROM menus;

 -- menu_id: ec08f5af-ddb4-445d-a74b-a6d2f1608e6c

 -- examples of adding multiple data in one INSERT statement
 -- if it's a required side_menu, use 1 for "required" and vice versa
 INSERT INTO side_menus (
     id,
     name,
     limitCount,
     required,
     menu_id
 )
 VALUES (
     uuid(),
     "Base",
     2,
     1,
     "9ec5ac27-6445-11f0-b9ed-06729ee36129"
 ), (
     uuid(),
     "Protein",
     5,
     0,
     "9ec5ac27-6445-11f0-b9ed-06729ee36129"
 ), (
     uuid(),
     "Premium Toppings",
     10,
     0,
     "9ec5ac27-6445-11f0-b9ed-06729ee36129"
 ), (
     uuid(),
     "Regular Toppings",
     10,
     0,
     "9ec5ac27-6445-11f0-b9ed-06729ee36129"
 );

 -- Actual side_menu INSERT statement for Kinton Ramen's Beef Spicy Garlic Ramen menu
 -- use the menu_id created from above

 -- To make it like a radio button (limitCount = 1)
 INSERT INTO side_menus (
     id,
     name,
     limitCount,
     required,
     menu_id
 )
 VALUES (
     uuid(),
     "Choice of Noodles",
     1,
     0,
     "ec08f5af-ddb4-445d-a74b-a6d2f1608e6c"
 );

 -- To make it like a -/+ button (limitCount > 1)
 INSERT INTO side_menus (
     id,
     name,
     limitCount,
     required,
     menu_id
 )
 VALUES (
     uuid(),
     "Additional Toppings",
     10,
     0,
     "ec08f5af-ddb4-445d-a74b-a6d2f1608e6c"
 );

 -- GET the UUID of the side_menu that was just added
 SELECT * FROM side_menus;

 -- sideMenu_id: ec08f5af-ddb4-445d-a74b-a6d2f1608e6c
 -- as long as the ID doesn't overlap with other rows in the same table, it's all good

 -- use the side_menu_id created from above
 -- always keep "amount" as null for now
 -- this is the scenario for limitCount 1 side_menu
 INSERT INTO side_menu_options (
     id,
     name,
     amount,
     price,
     type,
     side_menu_id
 ) VALUES (
     "3b878d4a-bb58-4d87-990e-e85a43d82283",
     "Thick",
     null,
     '{ "value": 0, "currency": "CAD" }',
     "SINGLE",
     "ec08f5af-ddb4-445d-a74b-a6d2f1608e6c"
 ), (
     "1db6edd9-1ff2-49d3-8816-14236b713c41",
     "Thin",
     null,
     '{ "value": 0, "currency": "CAD" }',
     "SINGLE",
     "ec08f5af-ddb4-445d-a74b-a6d2f1608e6c"
 ), (
     "c2ceb860-943a-4c14-996c-4ab31b488c30",
     "Shirataki",
     null,
     '{ "value": 399, "currency": "CAD" }',
     "SINGLE",
     "ec08f5af-ddb4-445d-a74b-a6d2f1608e6c"
 );

 -- this is the scenario for limitCount > 1 side_menu
 -- use the side_menu_id created from above
 -- in limitCount > 1 situations, SINGLE only allows selection up to 1 for that specific side menu option
 -- in limitCount > 1 situations, MULTIPLE allows selection up to the limtCount for that specific side menu option
 INSERT INTO side_menu_options (
     id,
     name,
     amount,
     price,
     type,
     side_menu_id
 ) VALUES (
     uuid(),
     "Extra Noodle (Thin)",
     null,
     '{ "value": 199, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Extra Noodle (Thick)",
     null,
     '{ "value": 199, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Extra Soup Chicken",
     null,
     '{ "value": 549, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Extra Soup Veg",
     null,
     '{ "value": 549, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Extra Soup Beef",
     null,
     '{ "value": 549, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Shirataki Noodle",
     null,
     '{ "value": 399, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Pork",
     null,
     '{ "value": 399, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Chicken Breast",
     null,
     '{ "value": 399, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Extra Beef",
     null,
     '{ "value": 599, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Seasoned Egg",
     null,
     '{ "value": 199, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Jalpeño Paste",
     null,
     '{ "value": 199, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Bamboo Shoots",
     null,
     '{ "value": 199, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Bean Sprouts",
     null,
     '{ "value": 199, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Garlic Oil",
     null,
     '{ "value": 199, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Grated Garlic",
     null,
     '{ "value": 199, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Wood Ear Mushrooms",
     null,
     '{ "value": 199, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Nori",
     null,
     '{ "value": 149, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Scallions",
     null,
     '{ "value": 149, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Seaweed",
     null,
     '{ "value": 199, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Sweet Corn",
     null,
     '{ "value": 199, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Inari Tofu",
     null,
     '{ "value": 299, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 );

 SELECT * FROM restaurants;
 /*
 Login to AWS
 Go to S3 for findng where the files are stored

 For restaurants: need to use restaurant_background/ and restaurant_logo/ (restaurant_music/ can be ignored)

 Use https://squoosh.app/ to lower the quality and size of the photo -> if the original file is not too massive, don't worry about it
 - select webp as the file to be converted to
 - resize first if the resolution of the image is too high
 - try the 75 quality and then see if you can make 100 -> if the file size is not too big, it's good to go (< 300KB)
 - once the photo is optimized,

 When a photo is heic, use a heic to png/jpg converter online and then use the png/jpg to Squoosh: https://cloudconvert.com/heic-to-png

 The URL for the image or video -> https://d1inbgoespaevw.cloudfront.net/<route to the image>
 ex. https://d1inbgoespaevw.cloudfront.net/restaurant-background/cascabowls-background.webp

 For video upload

 First upload the video you want to use to S3 -> /menus/videos/raw
 Once uploaded, go to MediaConvert on AWS
 Go to Job templates from MediaConvert
 Click "Shortform Converter" and press "Create Job"
 In the input, select one of the raw videos uploaded to S3
 Once the input file is set, press the orange Create button at the bottom and wait for a bit (background task)
 Once the video conversion is completed, all you have to use for the videoUrl for the menu is something like this: https://d1inbgoespaevw.cloudfront.net/menus/videos/tokyo-fries.m3u8

 */

 SELECT * FROM menus;

In [ ]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.10-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.9 kB)
Downloading psycopg2_binary-2.9.10-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 22.1 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10

In [ ]:
import uuid
import psycopg2  # or your_db_connector

def get_target_menu_ids(connection, restaurant_id, subsection_id=None):
    """Get menu IDs based on restaurant_id and optional subsection_id"""
    cursor = connection.cursor()
    try:
        if subsection_id is not None:
            query = """
                SELECT menu_id
                FROM menus
                WHERE restaurant_id = %s
                AND subsection_id = %s
                AND DATE(created_at) = CURRENT_DATE
                ORDER BY created_at DESC;
            """
            cursor.execute(query, (restaurant_id, subsection_id))
        else:
            query = """
                SELECT menu_id
                FROM menus
                WHERE restaurant_id = %s
                AND DATE(created_at) = CURRENT_DATE
                ORDER BY created_at DESC;
            """
            cursor.execute(query, (restaurant_id,))

        results = cursor.fetchall()
        return [row[0] for row in results]
    except Exception as e:
        print(f"Error fetching target menu IDs: {e}")
        return []
    finally:
        cursor.close()

In [ ]:
TEMPLATE_MENU_ID = "ec08f5af-ddb4-445d-a74b-a6d2f1608e6c"  # ID of your fully configured menu

# Database connection parameters
DB_CONFIG = {
    'dbname': "your_db",
    'user': "your_user",
    'password': "your_password",
    'host': "your_host"
}

RESTAURANT_ID = "your-restaurant-id-here"
SUBSECTION_ID = "your-subsection-id-here"  # or None if you want all menus for the restaurant

# --- Script Logic ---
conn = None
cur = None

try:
    # Establish database connection
    conn = psycopg2.connect(**DB_CONFIG)
    cur = conn.cursor()

    # Get target menu IDs
    TARGET_MENU_IDS = get_target_menu_ids(conn, RESTAURANT_ID, SUBSECTION_ID)

    if not TARGET_MENU_IDS:
        print("No target menus found. Exiting.")
        exit()

    print(f"Found {len(TARGET_MENU_IDS)} target menus to process.")

    # 1. Fetch the side menu structure from the template
    cur.execute("SELECT id, name, limitCount, required FROM side_menus WHERE menu_id = %s", (TEMPLATE_MENU_ID,))
    template_side_menus = cur.fetchall()

    if not template_side_menus:
        print(f"No side menus found for template menu ID: {TEMPLATE_MENU_ID}")
        exit()

    print(f"Found {len(template_side_menus)} side menus in template.")

    # 2. Loop through each target menu item
    for target_menu_id in TARGET_MENU_IDS:
        print(f"\nApplying side menus to menu_id: {target_menu_id}")

        # 3. Loop through the template's side menus
        for original_side_menu_id, name, limit_count, required in template_side_menus:

            # 4. Create a NEW side_menu for the target menu and get its new ID
            new_side_menu_id = str(uuid.uuid4())
            cur.execute(
                """
                INSERT INTO side_menus (id, name, limitCount, required, menu_id)
                VALUES (%s, %s, %s, %s, %s)
                """,
                (new_side_menu_id, name, limit_count, required, target_menu_id)
            )
            print(f"  - Created new side_menu '{name}' with new ID: {new_side_menu_id}")

            # 5. Fetch all options from the original side menu
            cur.execute("SELECT name, amount, price, type FROM side_menu_options WHERE side_menu_id = %s", (original_side_menu_id,))
            template_options = cur.fetchall()

            # 6. Create new side_menu_options linked to the NEW side_menu_id
            for opt_name, opt_amount, opt_price, opt_type in template_options:
                cur.execute(
                    """
                    INSERT INTO side_menu_options (id, name, amount, price, type, side_menu_id)
                    VALUES (%s, %s, %s, %s, %s, %s)
                    """,
                    (str(uuid.uuid4()), opt_name, opt_amount, opt_price, opt_type, new_side_menu_id)
                )

            print(f"    - Added {len(template_options)} options to side menu '{name}'")

    # Commit all the changes to the database
    conn.commit()
    print(f"\n✅ Successfully applied all side menus to {len(TARGET_MENU_IDS)} target menus!")

except Exception as e:
    print(f"❌ An error occurred: {e}")
    if conn:
        conn.rollback()  # Roll back changes if anything fails
        print("Changes rolled back.")
finally:
    # Clean up connections
    if cur:
        cur.close()
    if conn:
        conn.close()
    print("Database connections closed.")

# FRESHII

In [ ]:
 INSERT INTO sub_sections (
     id,
     name,
     restaurant_id
 )

VALUES
    (uuid(), "Heartii Salads", "be24b48a-9ec2-43e9-87aa-48e5419920e0"),
    (uuid(), "Energii Bowls", "be24b48a-9ec2-43e9-87aa-48e5419920e0"),
    (uuid(), "Savourii Wraps", "be24b48a-9ec2-43e9-87aa-48e5419920e0"),
    (uuid(), "Burrito", "be24b48a-9ec2-43e9-87aa-48e5419920e0"),
    (uuid(), "Comfi Soups", "be24b48a-9ec2-43e9-87aa-48e5419920e0"),
    (uuid(), "Super Smoothiis", "be24b48a-9ec2-43e9-87aa-48e5419920e0"),
    (uuid(), "Juices & Cleanses", "be24b48a-9ec2-43e9-87aa-48e5419920e0"),
    (uuid(), "Snacks", "be24b48a-9ec2-43e9-87aa-48e5419920e0"),
    (uuid(), "Beverage", "be24b48a-9ec2-43e9-87aa-48e5419920e0");

In [ ]:
-- Create the menu item
INSERT INTO menus (
    id,
    name,
    price,
    description,
    ingredients,
    nutritionalFacts,
    thumbnailUrl,
    videoUrl,
    likeCount,
    estimatedMinute,
    discount,
    subSection_id,
    restaurant_id
)
VALUES (
    uuid(),
    "Spicy Buffalo Bowl",
    '{ "value": 1199, "currency": "CAD" }',
    "A hearty and flavorful bowl featuring nutritious brown rice topped with fresh romaine lettuce, aged cheddar cheese, spicy jalapeños, ripe tomatoes, crisp carrots, tangy hot sauce, and creamy Greek yogurt ranch dressing",
    '["brown rice", "romaine lettuce", "aged cheddar", "jalapeños", "tomatoes", "carrots"]',
    '[{"name": "Calories", "amount": {"unit": "kcal", "value": 515}}, {"name": "Fat", "amount": {"unit": "g", "value": 0}}, {"name": "Fiber", "amount": {"unit": "g", "value": 0}}, {"name": "Protein", "amount": {"unit": "g", "value": 0}}, {"name": "Carbs", "amount": {"unit": "g", "value": 0}}]',
     "https://d1inbgoespaevw.cloudfront.net/menus/thumbnails/beef-spicy-garlic-ramen.0000001.jpg",
     "https://d1inbgoespaevw.cloudfront.net/menus/videos/beef-spicy-garlic-ramen.m3u8",
    0,
    15,
    null,
    "0000",
    "1111"
);

In [ ]:
-- Side Menu 1: BASE (Required - choose 1 of 2)
INSERT INTO side_menus (
    id,
    name,
    limitCount,
    required,
    menu_id
)
VALUES (
    uuid(),
    "BASE",
    1,
    1,
    "2222"
);

-- Options for BASE
INSERT INTO side_menu_options (
    id,
    name,
    amount,
    price,
    type,
    side_menu_id
) VALUES (
    uuid(),
    "Brown Rice",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "2222" AND name = "BASE" ORDER BY id DESC LIMIT 1)
), (
    uuid(),
    "Rice Noodles",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "2222" AND name = "BASE" ORDER BY id DESC LIMIT 1)
), (
    uuid(),
    "Quinoa",
    null,
    '{ "value": 99, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "2222" AND name = "BASE" ORDER BY id DESC LIMIT 1)
), (
    uuid(),
    "Field Greens",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "2222" AND name = "BASE" ORDER BY id DESC LIMIT 1)
), (
    uuid(),
    "Romaine",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "2222" AND name = "BASE" ORDER BY id DESC LIMIT 1)
), (
    uuid(),
    "Kale",
    null,
    '{ "value": 99, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "2222" AND name = "BASE" ORDER BY id DESC LIMIT 1)
);

-- Side Menu 2: PROTEIN (Optional - can select multiple)
INSERT INTO side_menus (
    id,
    name,
    limitCount,
    required,
    menu_id
)
VALUES (
    uuid(),
    "PROTEIN",
    5,
    0,
    "2222"
);

-- Options for PROTEIN
INSERT INTO side_menu_options (
    id,
    name,
    amount,
    price,
    type,
    side_menu_id
) VALUES (
    uuid(),
    "Chicken",
    null,
    '{ "value": 299, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "2222" AND name = "PROTEIN" ORDER BY id DESC LIMIT 1)
), (
    uuid(),
    "Steak",
    null,
    '{ "value": 299, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "2222" AND name = "PROTEIN" ORDER BY id DESC LIMIT 1)
), (
    uuid(),
    "Shrimp",
    null,
    '{ "value": 299, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "2222" AND name = "PROTEIN" ORDER BY id DESC LIMIT 1)
), (
    uuid(),
    "Teriyaki Tofu",
    null,
    '{ "value": 199, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "2222" AND name = "PROTEIN" ORDER BY id DESC LIMIT 1)
), (
    uuid(),
    "Tofu",
    null,
    '{ "value": 199, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "2222" AND name = "PROTEIN" ORDER BY id DESC LIMIT 1)
), (
    uuid(),
    "Falafel",
    null,
    '{ "value": 199, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "2222" AND name = "PROTEIN" ORDER BY id DESC LIMIT 1)
), (
    uuid(),
    "2 Hard Boiled Eggs",
    null,
    '{ "value": 199, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "2222" AND name = "PROTEIN" ORDER BY id DESC LIMIT 1)
), (
    uuid(),
    "Sushi-Grade Tuna",
    null,
    '{ "value": 599, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "2222" AND name = "PROTEIN" ORDER BY id DESC LIMIT 1)
), (
    uuid(),
    "Sushi-grade Salmon",
    null,
    '{ "value": 599, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "2222" AND name = "PROTEIN" ORDER BY id DESC LIMIT 1)
), (
    uuid(),
    "No, Thanks",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "2222" AND name = "PROTEIN" ORDER BY id DESC LIMIT 1)
);

The following sub sections dont use this format: Smoothii Bowl
Note: for non-create your own, do not use base selection

Smoothie bowl side menu:

In [ ]:
-- Side Menu 1: SELECT SMOOTHIE OPTION
INSERT INTO side_menus (
    id,
    name,
    limitCount,
    required,
    menu_id
)
VALUES (
    uuid(),
    "SELECT SMOOTHIE OPTION",
    1,
    1,
    "2222"
);

-- Options for SELECT SMOOTHIE OPTION
INSERT INTO side_menu_options (
    id,
    name,
    amount,
    price,
    type,
    side_menu_id
) VALUES (
    uuid(),
    "Tropical Mango",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "2222" AND name = "SELECT SMOOTHIE OPTION" ORDER BY id DESC LIMIT 1)
), (
    uuid(),
    "Freshii Green",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "2222" AND name = "SELECT SMOOTHIE OPTION" ORDER BY id DESC LIMIT 1)
), (
    uuid(),
    "Chocolate Peanut Butter",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "2222" AND name = "SELECT SMOOTHIE OPTION" ORDER BY id DESC LIMIT 1)
), (
    uuid(),
    "Strawberrii Banana",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "2222" AND name = "SELECT SMOOTHIE OPTION" ORDER BY id DESC LIMIT 1)
), (
    uuid(),
    "Mixed Berrii",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "2222" AND name = "SELECT SMOOTHIE OPTION" ORDER BY id DESC LIMIT 1)
);

-- Side Menu 2: SMOOTHIE ADD-ON
INSERT INTO side_menus (
    id,
    name,
    limitCount,
    required,
    menu_id
)
VALUES (
    uuid(),
    "SMOOTHIE ADD-ON",
    5,
    0,
    "2222"
);

-- Options for SMOOTHIE ADD-ON
INSERT INTO side_menu_options (
    id,
    name,
    amount,
    price,
    type,
    side_menu_id
) VALUES (
    uuid(),
    "Vega Protein",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "2222" AND name = "SMOOTHIE ADD-ON" ORDER BY id DESC LIMIT 1)
), (
    uuid(),
    "Whey Protein",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "2222" AND name = "SMOOTHIE ADD-ON" ORDER BY id DESC LIMIT 1)
), (
    uuid(),
    "No, Thanks",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "2222" AND name = "SMOOTHIE ADD-ON" ORDER BY id DESC LIMIT 1)
);